<% include ../../partial/header.ejs %>
<div class="main">

  <div class="main-inner">

    <div class="container">

      <div class="row">

        <div class="span12">

          <div class="widget ">

            <div class="widget-header">

              <h3>DINAS PELAYANAN PAJAK</h3>
            </div>
            <!-- /widget-header -->

            <div class="widget-content">
              <!--start here-->
              <form id="edit-profile" class="form-horizontal">
                <fieldset>

                  <div class="control-group">
                    <label class="control-label">
                      <h4>Data Wajib Pajak:</h4>
                    </label>
                  </div>
                  <hr>

                  <div class="control-group">
                    <label class="control-label" for="tgllaporan">Tanggal Laporan</label>
                    <div class="controls">
                      <input type="text" id="tgllaporan" disabled="">

                    </div>
                    <!-- /controls -->
                  </div>
                  <!-- /control-group -->

                  <div class="control-group">
                    <label class="control-label" for="nosptpd">Nomor SPTPD</label>
                    <div class="controls">
                      <input type="text" class="span2 disabled" id="nosptpd" disabled="">

                    </div>
                    <!-- /controls -->
                  </div>
                  <!-- /control-group -->

                  <div class="control-group">
                    <label class="control-label" for="namausaha">Nama Usaha Wajib Pajak</label>
                    <div class="controls">
                      <input type="text" class="span4 disabled" disabled="" id="namausaha">

                    </div>
                    <!-- /controls -->
                  </div>
                  <!-- /control-group -->

                  <div class="control-group">
                    <label class="control-label" for="alamatusaha">Alamat Usaha</label>
                    <div class="controls">
                      <input type="textarea" id="alamatusaha" class="span4 disabled" disabled="">

                    </div>
                    <!-- /controls -->
                  </div>
                  <!-- /control-group -->

                  <div class="control-group">
                    <label class="control-label" for="npwpd">NPWPD</label>
                    <div class="controls">
                      <input type="text" id="npwpd" class="span4 disabled" disabled="">

                    </div>
                    <!-- /controls -->
                  </div>
                  <!-- /control-group -->

                  <div class="control-group">
                    <label class="control-label" for="nopd">NOPD</label>
                    <div class="controls">
                      <select class="form-control" id="nopd">
                        <option>Pilih NOPD</option>
                        <option>23.232.539.8-219.233.45.11</option>
                      </select>
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label" for="">Jenis Pajak</label>
                    <div class="controls">
                      <input type="text" id="kegiatan" disabled="">

                    </div>
                    <!-- /controls -->
                  </div>
                  <!-- /control-group -->

                  <div class="control-group">
                    <label class="control-label" for="masapajak">Masa Pajak</label>
                    <div class="controls">
                      <select class="form-control" id="masapajak">
                        <option>Pilih Masa Pajak</option>
                        <option>Januari</option>
                        <option>Februari</option>
                        <option>Maret</option>
                        <option>April</option>
                        <option>Mei</option>
                        <option>Juni</option>
                        <option>Juli</option>
                        <option>Agustus</option>
                        <option>September</option>
                        <option>Oktober</option>
                        <option>November</option>
                        <option>Desember</option>
                      </select>
                      <p class="help-block">Data masukan paling lambat 1 bulan sebelum tutup buku bulan terakhir.</p>
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label" for="tahunpajak">Tahun Pajak</label>
                    <div class="controls">
                      <select class="form-control" id="tahunpajak">
                        <option>Pilih Tahun Pajak</option>
                        <option>2014</option>
                        <option>2015</option>
                        <option>2016</option>
                      </select>
                    </div>
                  </div>

                  <br>
                  <div class="control-group">
                    <label class="control-label">
                      <h4>Besar Setoran:</h4>
                    </label>
                  </div>
                  <hr>

                  <table width="800">
                    <tbody>
                      <tr>
                        <td width="10%">
                          No.
                        </td>
                        <td width="30%">
                          Uraian
                        </td>
                        <td width="50%">
                          Besar Setoran Rp.
                        </td>
                      </tr>
                      <tr>
                        <td>
                          1
                        </td>
                        <td>
                          Pokok
                        </td>
                        <td>
                          <input type="text" id="pokok" value="0">
                        </td>
                      </tr>
                      <tr>
                        <td>
                          2
                        </td>
                        <td>
                          Bunga
                        </td>
                        <td>
                          <input type="text" id="bunga" value="0">
                        </td>

                      </tr>
                      <tr>
                        <td>
                          3
                        </td>
                        <td>
                          Denda
                        </td>
                        <td>
                          <input type="text" id="denda" value="0">
                        </td>

                      </tr>
                      <tr>
                        <td>
                          3
                        </td>
                        <td>
                          Kenaikan
                        </td>
                        <td>
                          <input type="text" id="kenaikan" value="0">
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <br><br>

                  <div class="control-group">
                    <label class="control-label">
                      <h4>Jumlah Setoran:Rp.</h4>
                      <type="text" id="total" value="Rp."></type="text">
                    </label>
                  </div>

                  <div class="control-group">
                    <label class="control-label" for="radiobtns">Dokumen Pendukung
                    </label>

                    <div class="controls">
                      <div class="input-append">
                        <input class="span2 m-wrap" id="appendedInputButton" type="text">
                        <button class="btn" type="button">Upload</button>
                      </div>
                    </div>

                    <div class="control-group">
                      <p class="help-block">Bersama ini Anda telah menyatakan bahwa data yang telah di isi adalah data yang sebenarnya da valid.
                        <br>Beri tanda centang jika Anda menyetujui pernyataan tersebut.</p>
                      <label class="control-label">Setuju
                      </label>

                      <div class="controls">
                        <label class="checkbox inline">
                          <input type="checkbox">
                        </label>
                      </div>
                    </div>

                    <br>

                    <div class="form-actions">
                      <button type="submit" class="btn btn-primary">Save</button>
                      <button class="btn">Cancel</button>
                    </div>
                    <!-- /form-actions -->
                  </div>
                </fieldset>
              </form>

              <!--end here-->
            </div>
          </div>
          <!-- /widget -->

        </div>
        <!-- /span8 -->

      </div>
      <!-- /row -->

    </div>
    <!-- /container -->

  </div>
  <!-- /main-inner -->

</div>
<% include ../../partial/footer %>
<!-- /row -->
