<% include partial/header.ejs %>
  <div class="main">
    <div class="main-inner">
      <div class="container">
        <div class="row">
          <div class="span6">
            <div class="widget widget-nopad">
              <div class="widget-header"> <i class="icon-list-alt"></i>
                <h3> Daring Hari ini</h3>
              </div>
              <!-- /widget-header -->
              <div class="widget-content">
                <div class="widget big-stats-container">
                  <div class="widget-content">
                    <h6 class="bigstats">A fully responsive premium quality admin template built on Twitter Bootstrap by <a href="http://www.egrappler.com" target="_blank">EGrappler.com</a>. These are some dummy lines to fill the area.</h6>
                    <div id="big_stats" class="cf">
                      <div class="stat"> <i class="icon-anchor"></i>
                        <span class="value">851</span>
                      </div>
                      <!-- .stat -->

                      <div class="stat"> <i class="icon-thumbs-up-alt"></i>
                        <span class="value">423</span>
                      </div>
                      <!-- .stat -->

                      <div class="stat"> <i class="icon-twitter-sign"></i>
                        <span class="value">922</span>
                      </div>
                      <!-- .stat -->

                      <div class="stat"> <i class="icon-bullhorn"></i>
                        <span class="value">25%</span>
                      </div>
                      <!-- .stat -->
                    </div>
                  </div>
                  <!-- /widget-content -->

                </div>
              </div>
            </div>
          </div>
          <!-- /span6 -->
          <div class="span6">
            <div class="widget">
              <div class="widget-header"> <i class="icon-signal"></i>
                <h3>Grafik Percepatan Pajak Retribusi</h3>
              </div>
              <!-- /widget-header -->
              <div class="widget-content">
                <canvas id="area-chart" class="chart-holder" height="250" width="538" style="width: 538px; height: 250px;"> </canvas>
                <!-- /area-chart -->
              </div>
              <!-- /widget-content -->
            </div>

          </div>
          <div class="span12">
            <div class="widget widget-table action-table">
              <div class="widget-header"> <i class="icon-th-list"></i>
                <h3>Wajib Pajak Jatuh Tempo Hari Ini</h3>
              </div>
              <!-- /widget-header -->
              <div class="widget-content">
                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                  <thead>
                    <tr>
                      <th>NPWP</th>
                      <th>Tanggal Jatuh Tempo</th>
                      <th>Obyek Pajak</th>
                      <th>Nama Perusahaan</th>
                      <th>Aksi</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(var i=0; i<30; i++) {%>
                      <tr class="odd gradeX">
                        <td>
                          <%= Math.random().toString(10).substring(7)%>
                        </td>
                        <td>
                          <%= new Date().toISOString().slice(0, 10) %>
                        </td>
                        <td>Diskotik
                          <%= i %>
                        </td>
                        <% var data =Math.random().toString(10).substring(7)%>
                          <td class="center">PT.
                            <%= data %>
                          </td>
                          <td>
                            <a href="/perusahaan/<%= data %>">
                              <button class="btn btn-success">Detail</button>
                          </td>
                      </tr>
                      <% }%>
                  </tbody>
                </table>
              </div>
              <!-- /widget-content -->
            </div>
          </div>
          <!-- /span6 -->
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /main-inner -->
  </div>
  <% include partial/footer %>