<% include ../partial/header.ejs %>
  <div class="main">
    <div class="main-inner">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="widget widget-table action-table">
              <div class="widget-header"> <i class="icon-th-list"></i>
                <h3>
                  History Pembayaran Pajak
                </h3>
              <a href="/tax/hotel" class="btn btn-small btn-success" style="float:right; margin-top:5px;margin-right:10px;">Tambah Pembayaran Pajak</a>
            </div>
              <!-- /widget-header -->
              <div class="widget-content">

                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>Nama Perusahaan</th>
                      <th>Tanggal Bayar</th>
                      <th>Amount</th>
                      <th>Terlambat</th>
                      <th>Denda</th>
                      <th>Detail</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(var i=0; i<30; i++) {%>
                      <tr class="odd gradeX">
                        <td>
                          <%= i+1 %>
                        </td>
                          <td class="center">PT.Admaresi Globalindo
                          </td>
                          <td>
                          Manado
                          </td>
                          <td>IDR 25000000
                          </td>
                          <td>
                            YA
                          <td>
                            0
                          </td>
                          <td>
                              <button class="btn btn-success">Detail Pembayaran</button>
                          </td>
                      </tr>
                      <% }%>
                  </tbody>
                </table>

              </div>
              <!-- /widget-content -->
            </div>
          </div>
          <!-- /span6 -->
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /main-inner -->
  </div>
  <% include ../partial/footer %>
