<% include ../../partial/header.ejs %>
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">

  <div class="span12">

    <div class="widget ">

      <div class="widget-header">

        <h3>DINAS PELAYANAN PAJAK</h3>
      </div>
      <!-- /widget-header -->

      <div class="widget-content">
        <!--start here-->
        <form id="edit-profile" class="form-horizontal">
          <fieldset>

            <hr>

            <div class="control-group">
              <label class="control-label" for="tgllaporan">Tanggal Laporan</label>
              <div class="controls">
                <input type="text" id="tgllaporan" disabled>

              </div>
              <!-- /controls -->
            </div>
            <!-- /control-group -->

            <div class="control-group">
              <label class="control-label" for="nosptpd">Nomor SPTPD</label>
              <div class="controls">
                <input type="text" class="span2 disabled" id="nosptpd" disabled>

              </div>
              <!-- /controls -->
            </div>
            <!-- /control-group -->

            <div class="control-group">
              <label class="control-label">
                <h4>Data Wajib Pajak:</h4>
              </label>
            </div>
            <hr>

            <div class="control-group">
              <label class="control-label" for="namausaha">Nama Usaha Wajib Pajak</label>
              <div class="controls">
                <input type="text" class="span4 disabled" disabled id="namausaha">

              </div>
              <!-- /controls -->
            </div>
            <!-- /control-group -->

            <div class="control-group">
              <label class="control-label" for="alamatusaha">Alamat Usaha</label>
              <div class="controls">
                <input type="textarea" id="alamatusaha" class="span4 disabled" disabled>

              </div>
              <!-- /controls -->
            </div>
            <!-- /control-group -->

            <div class="control-group">
              <label class="control-label" for="npwpd">NPWPD</label>
              <div class="controls">
                <input type="text" id="npwpd" class="span4 disabled" disabled>

              </div>
              <!-- /controls -->
            </div>
            <!-- /control-group -->

            <div class="control-group">
              <label class="control-label">
                <h4>Data Reklame:</h4>
              </label>
            </div>
            <hr>

            <div class="control-group">
              <label class="control-label" for="nopd">NOPD</label>
              <div class="controls">
                <select class="form-control" id="nopd">
                  <option>Pilih NOPD</option>
                  <option>23.232.539.8-219.233.45.11</option>
                </select>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="">Jenis Pajak</label>
              <div class="controls">
                <input type="text" id="kegiatan" disabled>

              </div>
            </div>


            <div class="control-group">
              <label class="control-label" for="">Teks Reklame</label>
              <div class="controls">
                <input type="text" id="kegiatan">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="Jenis Reklame">Jenis Reklame</label>
              <div class="controls">
                <select class="form-control" id="Jenis Reklame">
                  <option>Pilih Jenis Reklame</option>
                  <option>Papan Billboard/Videotron/Megatron/LED</option>
                  <option>Baliho</option>
                  <option>Spanduk</option>
                  <option>Poster</option>
                  <option>Plakat</option>
                  <option>Mobile</option>
                  <option>Sticker</option>
                  <option>Neon Box</option>
                </select>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="alamatreklame">Alamat Pemasangan</label>
              <div class="controls">
                <textarea class="span4" rows="5" id="alamatreklame" value=""></textarea>
              </div>
              <!-- /controls -->
            </div>
            <!-- /control-group -->

            <div class="control-group">
              <label class="control-label" for="rt">RT</label>
              <div class="controls">
                <input type="text" class="span1" id="rt">
              </div>
              <!-- /controls -->
            </div>
            <!-- /control-group -->

            <div class="control-group">
              <label class="control-label" for="rw">RW</label>
              <div class="controls">
                <input type="text" class="span1" id="rw">
              </div>
              <!-- /controls -->
            </div>
            <!-- /control-group -->

            <div class="control-group">
              <label class="control-label" for="kodepos">Kode Pos</label>
              <div class="controls">
                <input type="text" class="span2" id="kodepos">
              </div>
              <!-- /controls -->
            </div>
            <!-- /control-group -->

            <div class="control-group">
              <label class="control-label" for="propinsi">Propinsi:</label>
              <div class="controls">
                <select class="form-control" id="propinsi">
                  <option>Pilih Propinsi</option>
                  <option>Sulawesi Selatan</option>
                  <option>Sulawesi Utara</option>
                  <option>Sulawesi Tenggara</option>
                  <option>Sulawesi Barat</option>
                  <option>Gorontalo</option>
                </select>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="kota">Kota/Kab.:</label>
              <div class="controls">
                <select class="form-control" id="kota">
                  <option>Pilih Kota/Kab.</option>
                  <option>Bolaang Mongondow</option>
                  <option>Mongondow Selatan</option>
                  <option>Mongondow Timur</option>
                  <option>Kepulauan Sangihe</option>
                  <option>Kepulauan Siau Tagulandang Biaro</option>
                  <option>Kepulauan Talaud</option>
                  <option>Minahasa</option>
                  <option>Minahasa Tenggara</option>
                  <option>Bitung</option>
                  <option>Kotamobagu</option>
                  <option>Manado</option>
                  <option>Tomohon</option>
                </select>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="kecamatan">Kecamatan</label>
              <div class="controls">
                <select class="form-control" id="kecamatan">
                  <option>Pilih Kecamatan</option>
                  <option>Amurang</option>
                  <option>Amurang Timur</option>
                  <option>Amurang Barat</option>
                  <option>Maesaan</option>
                  <option>Mondoinding</option>
                </select>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="kelurahan">Kelurahan</label>
              <div class="controls">
                <select class="form-control" id="kelurahan">
                  <option>Pilih Kelurahan</option>
                  <option>Kota Menara</option>
                  <option>Lopana</option>
                  <option>Malenos Baru</option>
                  <option>Maliku</option>
                  <option>Pinaling</option>
                  <option>Ranomea</option>
                  <option>Ritey</option>
                </select>
              </div>
            </div>



            <div class="control-group">
              <label class="control-label">
                <h4>Status Lokasi Pemasangan</h4>
              </label>
            </div>
            <hr>

            <div class="control-group">
              <label class="control-label">Dalam Sarana/Prasarana Kota </label>


              <div class="controls">
                <label class="radio inline">
                  <input type="radio" name="radiobtns"> Bahu Jalan
                </label>
                <br>

                <label class="radio inline">
                  <input type="radio" name="radiobtns"> Shelter Bus
                </label>
                <br>

                <label class="radio inline">
                  <input type="radio" name="radiobtns"> Jembatan Penyebrangan Orang (JPO)
                </label>
                <br>

                <label class="radio inline">
                  <input type="radio" name="radiobtns"> Taman Kota atau Jalur Hijau
                </label>
                <br>

                <label class="radio inline">
                  <input type="radio" name="radiobtns"> Pos Jaga Polisi
                </label>
                <br>

                <label class="radio inline">
                  <input type="radio" name="radiobtns"> Jam Kota
                </label>
                <br>

                <label class="radio inline">
                  <input type="radio" name="radiobtns"> Terminal dan Pangkalan Angkutan
                </label>
                <br>

                <label class="radio inline">
                  <input type="radio" name="radiobtns"> Gelangang Olah Raga
                </label>
                <br>

                <label class="radio inline">
                  <input type="radio" name="radiobtns"> Lainnya
                  <input type="text" class="span6" id="lainnya" value="cth. Gedung Perkantoran">
                </label>

              </div>
              <!-- /controls -->
            </div>
            <!-- /control-group -->

            <div class="control-group">
              <label class="control-label">Luar Sarana/Prasarana Kota </label>


              <div class="controls">
                <label class="radio inline">
                  <input type="radio" name="radiobtns"> Diatas Bangunan
                </label>
                <br>

                <label class="radio inline">
                  <input type="radio" name="radiobtns"> Menempel pada Bangunan
                </label>
                <br>

                <label class="radio inline">
                  <input type="radio" name="radiobtns"> Di halaman
                </label>
                <br>

                <label class="radio inline">
                  <input type="radio" name="radiobtns"> Pada Kendaraan
                  <input type="text" class="span2" id="lainnya" value="Nomor Polisi">
                </label>
                <br>

                <label class="radio inline">
                  <input type="radio" name="radiobtns"> Lainnya
                  <input type="text" class="span2" id="lainnya" value="cth. Tiang">
                </label>
                <br>

              </div>
              <!-- /controls -->
            </div>
            <!-- /control-group -->


            <div class="control-group">
              <label class="control-label">
                <h4>Tata Letak Pemasangan Reklame</h4>
              </label>
            </div>
            <hr>
            <div class="control-group">
              <label class="control-label">Luar Ruangan</label>


              <div class="controls">
                <label class="radio inline">
                  <input type="radio" name="radiobtns"> Menempel di bangunan tidak lebih dari 0.50 m2
                </label>
                <br>

                <label class="radio inline">
                  <input type="radio" name="radiobtns"> Di atas Bangunan
                </label>
                <br>

                <label class="radio inline">
                  <input type="radio" name="radiobtns"> Di atas Tanah
                </label>
                <br>

                <label class="radio inline">
                  <input type="radio" name="radiobtns"> Menempel/menjorok dibangunan lebih dari 0.50 m2
                </label>
                <br>

              </div>
              <!-- /controls -->
            </div>
            <!-- /control-group -->

            <div class="control-group">
              <label class="control-label">Dalam Ruangan</label>


              <div class="controls">
                <label class="radio inline">
                  <input type="radio" name="radiobtns"> Di dalam Ruangan
                </label>
                <br>

              </div>
              <!-- /controls -->
            </div>
            <!-- /control-group -->

            <div class="control-group">
              <label class="control-label">
                <h4>Ukuran Reklame</h4>
              </label>
            </div>
            <hr>

            <div class="control-group">
              <label class="control-label">Panjang X Lebar</label>


              <div class="controls">
                <label class="checkbox inline">
                  <input type="checkbox"> Muka I
                  <input type="text" class="span2" id="panjang">m X
                  <input type="text" class="span2" id="lebar">m =
                  <input type="text" class="span2" id="muka1"> m2
                </label>
                <br>

                <label class="checkbox inline">
                  <input type="checkbox"> Muka II
                  <input type="text" class="span2" id="panjang">m X
                  <input type="text" class="span2" id="lebar">m =
                  <input type="text" class="span2" id="muka2"> m2
                </label>
                <br>
                <label class="checkbox inline">
                  <input type="checkbox"> Muka III
                  <input type="text" class="span2" id="panjang">m X
                  <input type="text" class="span2" id="lebar">m =
                  <input type="text" class="span2" id="muka3"> m2
                </label>
                <br>
                <label class="checkbox inline">
                  <input type="checkbox"> Muka IV
                  <input type="text" class="span2" id="panjang">m X
                  <input type="text" class="span2" id="lebar">m =
                  <input type="text" class="span2" id="muka4"> m2
                </label>
                <br> Total
                <input type="text" class="span2" id="Total"> m2
              </div>
              <!-- /controls -->
            </div>
            <!-- /control-group -->

            <div class="control-group">
              <label class="control-label" for="username">Tinggi Reklame</label>
              <div class="controls">
                <input type="text" class="span6" id="tinggireklame" value="meter">
                <p class="help-block">Dari tanah sampai dengan ambang bawah bidang Reklame</p>
              </div>
              <!-- /controls -->
            </div>
            <!-- /control-group -->

            <div class="control-group">
              <label class="control-label" for="username">Ketinggian Reklame</label>
              <div class="controls">
                <input type="text" class="span6" id="tinggireklame" value="meter">
                <p class="help-block">Dari tanah sampai dengan ambang atas bidang Reklame</p>
              </div>
              <!-- /controls -->
            </div>
            <!-- /control-group -->

            <div class="control-group">
              <label class="control-label">Status Reklame</label>


              <div class="controls">
                <label class="radio inline">
                  <input type="radio" name="radiobtns"> Milik Sendiri
                </label>

                <label class="radio inline">
                  <input type="radio" name="radiobtns"> Sewa
                </label>
              </div>
              <!-- /controls -->
            </div>
            <!-- /control-group -->

            <div class="control-group">
              <label class="control-label" for="username">Jumlah RAB dari Pemegang SPB (Rp.)</label>
              <div class="controls">
                <input type="text" class="span6" id="jumlahRAB" value="Rp.">

              </div>
              <!-- /controls -->
            </div>
            <!-- /control-group -->

            <div class="control-group">
              <label class="control-label" for="username">Jumlah Pemasangan</label>
              <div class="controls">
                <input type="text" class="span6" id="jumlahpasang" value="Jumlah Pemasangan">Lembar

              </div>
              <!-- /controls -->
            </div>
            <!-- /control-group -->


            <div class="control-group">
              <label class="control-label">Masa Pajak </label>


              <div class="controls">
                <label class="radio inline">
                  <input type="radio" name="radiobtns"> Papan/Billboard/Megatron/LED
                </label>
                <input type="text" class="span2" id="lainnya" value="0"> Hari
                <br>

                <label class="radio inline">
                  <input type="radio" name="radiobtns"> Kain
                </label>
                <input type="text" class="span2" id="lainnya" value="0"> Hari
                <br>

                <label class="radio inline">
                  <input type="radio" name="radiobtns"> Melekat/Sticker
                </label>
                <input type="text" class="span2" id="lainnya" value="0"> cm2
                <br>
                <label class="radio inline">
                  <input type="radio" name="radiobtns"> Selebaran
                </label>
                <input type="text" class="span2" id="lainnya" value="0"> Lembar
                <br>
                <label class="radio inline">
                  <input type="radio" name="radiobtns"> Berjalan termasuk Kendaraan
                </label>
                <input type="text" class="span2" id="lainnya" value="0"> Hari
                <br>
                <label class="radio inline">
                  <input type="radio" name="radiobtns"> Udara
                </label>
                <input type="text" class="span2" id="lainnya" value="0"> Bulan
                <br>
                <label class="radio inline">
                  <input type="radio" name="radiobtns"> Suara
                </label>
                <input type="text" class="span2" id="lainnya" value="0"> detik
                <br>
                <label class="radio inline">
                  <input type="radio" name="radiobtns"> Slide/Film
                </label>
                <input type="text" class="span2" id="lainnya" value="0"> detik
                <br>
                <label class="radio inline">
                  <input type="radio" name="radiobtns"> Peragaan
                </label>
                <input type="text" class="span2" id="lainnya" value="0"> Hari/kali
                <br>


              </div>
              <!-- /controls -->
            </div>
            <!-- /control-group -->



            <div class="control-group">
              <label class="control-label" for="rt">Jangka Waktu</label>
              <div class="controls">
                <input type="text" class="span4" id="tanggalmulai" value="27/05/2016"> s.d
                <input type="text" class="span4" id="tanggalselesai" value="27/06/2016">
              </div>
              <!-- /controls -->
            </div>
            <!-- /control-group -->


            <div class="control-group">
              <label class="control-label" for="rt">Jenis Produk Reklame</label>
              <div class="controls">
                <input type="text" class="span4" id="Jenis Produk" value="Makanan Ringan">
              </div>
              <!-- /controls -->
            </div>
            <!-- /control-group -->

            <div class="control-group">
              <label class="control-label" for="rt">Keterangan Lain</label>
              <div class="controls">
                <input type="text" class="span4" id="Keterangan" value="isi jika ada">
              </div>
              <!-- /controls -->
            </div>
            <!-- /control-group -->


            <div class="control-group">
              <label class="control-label" for="radiobtns">Dokumen Pendukung </label>

              <div class="controls">
                <div class="input-append">
                  <input class="span2 m-wrap" id="appendedInputButton" type="text">
                  <button class="btn" type="button">Upload</button>
                </div>
              </div>



              <div class="control-group">
                <p class="help-block">Bersama ini Anda telah menyatakan bahwa data yang telah di isi adalah data yang sebenarnya da valid.
                  <br>Beri tanda centang jika Anda menyetujui pernyataan tersebut.</p>
                <label class="control-label">Setuju </label>

                <div class="controls">
                  <label class="checkbox inline">
                    <input type="checkbox">
                  </label>
                </div>
              </div>


              <br>

            </div>
            <!-- /controls -->
      </div>
      <!-- /control-group -->


      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn">Cancel</button>
      </div>
      <!-- /form-actions -->
      </fieldset>
      </form>

      <!--end here-->
    </div>
  </div>
  <!-- /widget -->

</div>
<!-- /span8 -->


</div>
</div>
</div>
<% include ../../partial/footer %>
<!-- /row -->
