<% include ../partial/header.ejs %>
  <div class="main">
    <div class="main-inner">
      <div class="container">
        <div class="row">
          <div class="span12">
            <table class="table table-striped table-bordered">
                            <thead>
                              <tr>
                                <th> Nama </th>
                                <th> Keterangan</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td> Nama perusahaan </td>
                                <td>PT <%= title %> </td>

                              </tr>
                              <tr>
                                <td>Alamat Perusahaan</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut scelerisque iaculis porttitor. Ut auctor eget massa</td>

                              </tr>
                              <tr>
                                <td> No Akte perusahaan </td>
                                <td> 1234.19989.SK.193948 </td>

                              </tr>
                              <tr>
                                <td> Jumlah Karyawan</td>
                                <td>31 Orang</td>

                              </tr>
                              <tr>
                                <td>Keterangan perusahaan</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut scelerisque iaculis porttitor. Ut auctor eget massa vitae sodales. Nunc sem velit, faucibus eget lacinia vel, semper non sapien. Morbi efficitur eleifend leo, et egestas turpis rhoncus ut. Sed eget sem ut sem condimentum pellentesque. Cras id arcu ut dui semper bibendum sit amet id massa. Integer hendrerit mollis commodo. Nunc aliquet tristique dolor vel consequat. Duis ultrices diam eu odio mattis bibendum. Ut vitae purus finibus, mollis magna malesuada, commodo orci. Aenean sollicitudin rutrum mauris vel finibus.</td>

                              </tr>

                            </tbody>
                          </table>
      		</div>
<div class="span12"><div class="widget widget-table action-table">
            <div class="widget-header"> <i class="icon-th-list"></i>
              <h3>A Table Example</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Nama Asset Kena Pajak</th>
                    <th> Keterangan</th>
                    <th class="td-actions"> </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Hotel Accor</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut scelerisque iaculis porttitor. Ut auctor eget massa vitae sodales. Nunc sem velit, faucibus eget lacinia vel, semper non sapien. Morbi efficitur eleifend leo, et egestas turpis rhoncus ut. Sed eget sem ut sem condimentum pellentesque. Cras id arcu ut dui semper bibendum sit amet id massa. Integer hendrerit mollis commodo. Nunc aliquet tristique dolor vel consequat. Duis ultrices diam eu odio mattis bibendum. Ut vitae purus finibus, mollis magna malesuada, commodo orci. Aenean sollicitudin rutrum mauris vel finibus.</td>
                    <td class="td-actions"><a href="javascript:;" class="btn btn-small btn-success"><i class="btn-icon-only icon-ok"> </i></a><a href="javascript:;" class="btn btn-danger btn-small"><i class="btn-icon-only icon-remove"> </i></a></td>
                  </tr>
                  <tr>
                    <td> Fresh Web Development Resources </td>
                    <td> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut scelerisque iaculis porttitor. Ut auctor eget massa vitae sodales. Nunc sem velit, faucibus eget lacinia vel, semper non sapien. Morbi efficitur eleifend leo, et egestas turpis rhoncus ut. Sed eget sem ut sem condimentum pellentesque. Cras id arcu ut dui semper bibendum sit amet id massa. Integer hendrerit mollis commodo. Nunc aliquet tristique dolor vel consequat. Duis ultrices diam eu odio mattis bibendum. Ut vitae purus finibus, mollis magna malesuada, commodo orci. Aenean sollicitudin rutrum mauris vel finibus. </td>
                    <td class="td-actions"><a href="javascript:;" class="btn btn-small btn-success"><i class="btn-icon-only icon-ok"> </i></a><a href="javascript:;" class="btn btn-danger btn-small"><i class="btn-icon-only icon-remove"> </i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /widget-content -->
          </div></div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /main-inner -->
  </div>
  <% include ../partial/footer %>
