<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a><a class="brand" href="/dashboard">Pajak Retribusi Manado </a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="icon-cog"></i> Account <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:;">Settings</a></li>
              <li><a href="javascript:;">Help</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="icon-user"></i> Administrator <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:;">Profile</a></li>
              <li><a href="javascript:;">Logout</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-search pull-right">
          <input type="text" class="search-query" placeholder="Search">
        </form>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!-- /container -->
  </div>
  <!-- /navbar-inner -->
</div>
<!-- /navbar -->
<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <ul class="mainnav">
        <li class="active"><a href="/dashboard"><i class="icon-dashboard"></i><span>Beranda</span> </a> </li>
        <li><a href="reports.html"><i class="icon-list-alt"></i><span>Utama</span> </a> </li>
        <li><a href="/company"><i class="icon-facetime-video"></i><span>Daftar Perusahaan</span> </a></li>
        <li class="dropdown">
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-long-arrow-down"></i>
            <span>Pajak</span> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/tax/hotel">Hotel</a></li>
            <li><a href="/tax/restaurant">Restoran</a></li>
            <li><a href="/tax/hiburan">Hiburan</a></li>
            <li><a href="/tax/reklame/">Reklame</a></li>
            <li><a href="#">Penerangan Jalan</a></li>
            <li><a href="#">Mineral Bukan Logam dan Batuan</a></li>
            <li><a href="/tax/parkir/">Parkir</a></li>
            <li><a href="#">Air Tanah</a></li>
          </ul>
        </li>
        <li><a href="/company"><i class="icon-facetime-video"></i><span>Pengaturan</span> </a></li>
          <li><a href="#"><i class="icon-facetime-video"></i><span>Laporan</span> </a></li>
      </ul>
    </div>
    <!-- /container -->
  </div>
  <!-- /subnavbar-inner -->
</div>
<!-- /subnavbar -->
