<% include ../../partial/header.ejs %>
  <div class="main">
    <div class="main-inner">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="widget widget-table action-table">
              <div class="widget-header"> <i class="icon-th-list"></i>
                <h3>
                  Daftar Pajak Hotel
                </h3>
              <a href="/company/add" class="btn btn-small btn-success" style="float:right; margin-top:5px;margin-right:10px;"><i class="btn-icon-only icon-ok"> </i></a>
            </div>
              <!-- /widget-header -->
              <div class="widget-content">

                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>NPWP</th>
                      <th>Nama Perusahaan</th>
                      <th>Alamat</th>
                      <th>Jumlah Obyek Kena Pajak</th>
                      <th>Aksi</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(var i=0; i<30; i++) {%>
                      <tr class="odd gradeX">
                        <td>
                          <%= i+1 %>
                        </td>
                        <td>
                          <%= Math.random().toString(10).substring(7)%>
                        </td>
                        <% var data =Math.random().toString(10).substring(7)%>
                          <td class="center">PT.
                            <%= data %>
                          </td>
                          <td>
                          Manado
                          </td>
                          <td>1
                          </td>

                          <td>
                            <a href="/company/<%= data %>">
                              <button class="btn btn-success">Detail Perusahaan</button>
                          </td>
                      </tr>
                      <% }%>
                  </tbody>
                </table>

              </div>
              <!-- /widget-content -->
            </div>
          </div>
          <!-- /span6 -->
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /main-inner -->
  </div>
  <% include ../../partial/footer %>
